<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">Contact</a>
    </nav>
</header>
<main>
    <h1>Where to reach me:</h1>
    <p>
        Phone: +1(234)567-8910
    </p>
    <p>
        Email: notmyemail@contact.com
    </p>
</main>
<footer>
    <div>Copyright 2022 by me!</div>
    <div>I like brownies</div>
</footer>